.cartTable {
    width: 100%;
    border: solid 1px #e0e0e0;
}
.cartTable>thead {
    background: #F1A064;
    color: #fff;
}
.cartTable>thead>tr>th {
    padding: 10px 5px;
    font-weight: 500;
    border-right: 2px solid #fff;
    text-align: center;
}
.cartTable>tbody>tr:nth-child(odd) {
    background: #FFF;
}
.cartTable>tbody>tr:nth-child(even) {
    background: url('../images/bg-checkout.png');
}
.cartTable>tbody>tr>td {
    padding: 15px 5px;
    border-right: 2px solid #fff;
}
.cartTable .price {
    text-align: right;
}
.cartTable .pricenumber {
    color:red;
}
.stt,
.img,
.soluong,
.del
{
    text-align: center !important;
}
.cartTable .tongthanhtoan,.cartTable .toolcart {
    text-align: right;
}
.navCart {
    margin-bottom: 5px;
}
.navCart>li {
    color:#2d731f;
    font-size: 18px;
}
.navCart>li>i {
    color: #f9d348;
    font-size: 20px;
}
.productOther h1.title {
    color:#77b109;
    font-size: 20px;
    margin-bottom: 10px;
}
.boxdathang {display: none}